---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/GlobalStyles.css'
---

<Layout title="ePortfolio Adrián Viciano">
	<Header/>
	<main>
		<h1 class="text-gradient pagina-principal">ePortfolio de Adrián Viciano</h1>
	</main>
</Layout>

