---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/GlobalStyles.css'
---

<Layout title="ePortfolio Adrián Viciano">
	<Header/>
	<main class="pagina-principal">
		<h1 class="text-gradient texto-pagina-principal ">ePortfolio de Adrián Viciano</h1>
	</main>
</Layout>

