---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from 'astro:content';

const content = await getEntry('pages', 'projects');
---

<BaseLayout>
  <h1>{content.data.title}</h1>
  <ul>
    {content.data.projects.map((project: { title: unknown; description: unknown; }) => (
      <li><strong>{project.title}</strong>: {project.description}</li>
    ))}
  </ul>
</BaseLayout>
