---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from 'astro:content';

const content = await getEntry('pages', 'skills');
---

<BaseLayout>
  <h1>{content.data.title}</h1>
  <ul>
    {content.data.skills.map((skill: unknown) => (
      <li>{skill}</li>
    ))}
  </ul>
</BaseLayout>
