---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep01">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep01</h1>
	
        <div>
            <h2>Mapa conceptual</h2>
            <img src="" alt="">
        </div>

        <div>
            <h2>Guión de entrevista</h2>
            <pre>
                Perfil del usuario clave
Nombre: Adrián Viciano
Empresa/Departamento: Electromoving/Taller de reparaciones
Cargo/Función: Jefe del taller
Responsabilidad principal: Gestión completa del taller

Alcance de la Entrevista:
La entrevista tiene como objetivo obtener información detallada sobre los requisitos y necesidades del usuario clave para el desarrollo de la aplicación interna de gestión de proyectos. Se busca comprender los problemas actuales, las expectativas de funcionalidad, así como identificar posibles soluciones y requisitos no funcionales.

Preguntas de la entrevista
-Pregunta 1: ¿Cuáles son los tipos de reparaciones que realizas habitualmente?
Esta pregunta sirve para identificar los diferentes tipos de reparaciones que realiza el usuario clave. Esto es importante para determinar los requisitos funcionales del sistema informático.

-Pregunta 2: ¿Qué información necesitas para realizar una reparación?
Esta pregunta sirve para identificar la información que necesita el usuario clave para realizar una reparación. Esto es importante para determinar los requisitos funcionales y no funcionales del sistema informático.

-Pregunta 3: ¿Cómo asignas el trabajo a los demás empleados del taller?
Esta pregunta sirve para identificar el proceso de asignación de trabajo en el taller. Esto es importante para determinar los requisitos funcionales y no funcionales del sistema informático.

-Pregunta 4: ¿Qué problemas te encuentras al realizar tu trabajo?
Esta pregunta sirve para identificar los problemas que encuentra el usuario clave al realizar su trabajo. Esto es importante para determinar los requisitos no funcionales del sistema informático.

-Pregunta 5: ¿Qué te gustaría que pudiera hacer el sistema informático para mejorar tu trabajo?
Esta pregunta sirve para identificar las necesidades del usuario clave. Esto es importante para determinar los requisitos funcionales y no funcionales del sistema informático.


            </pre>
        </div>

        <div>
            <h2>Video de la entrevista</h2>
            <video src=""></video>
        </div>


    
    </main>
</Layout>