---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep01">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep01</h1>
	
        <div>
            <h2>Mapa conceptual</h2>
            <img src="../../../public/ep01/mapa_conceptual.jpg" alt="mapa conceptual">
        </div>

        <div>
            <h2>Guión de entrevista</h2>
            <pre>
    Nombres de la pareja:
        -Adrián Viciano
        -Miguel Ruiz

    Perfil del usuario clave
    Nombre: Adrián Viciano
    Empresa/Departamento: Electromoving/Taller de reparaciones
    Cargo/Función: Jefe del taller
    Responsabilidad principal: Gestión completa del taller

    Alcance de la Entrevista:
    La entrevista tiene como objetivo obtener información detallada sobre los requisitos
    y necesidades del usuario clave para el desarrollo de la aplicación interna de gestión
    de proyectos. Se busca comprender los problemas actuales, las expectativas de funcionalidad,
    así como identificar posibles soluciones y requisitos no funcionales.

    Preguntas de la entrevista
    -Pregunta 1: ¿Cuáles son los tipos de reparaciones que realizas habitualmente?

    -Pregunta 2: ¿Qué información necesitas para realizar una reparación?

    -Pregunta 3: ¿Cómo asignas el trabajo a los demás empleados del taller?

    -Pregunta 4: ¿Qué problemas te encuentras al realizar tu trabajo?

    -Pregunta 5: ¿Qué te gustaría que pudiera hacer el sistema informático para mejorar tu trabajo?

            </pre>
        </div>

        <div>
            <h2>Video de la entrevista</h2>
            <iframe src="https://drive.google.com/file/d/1Aia6Tr-ItTCdl08XfdFL-Tpd7RAEVeJG/preview" width="960" height="540" allow="autoplay"></iframe>
        </div>

    </main>
</Layout>