---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep01">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep01</h1>
	</main>
</Layout>