---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep02">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep02</h1>
        <div>
            <h2>Reflexión sobre el EP01</h2>
            <pre>
El entregable EP1 me ha servido para varias cosas, fuera de lo que es 
la entrevista de requisitos, me he dado cuenta de que no sabía hacer
mapas conceptuales, y he visto la importancia de estos para sintetizar
información útil a la hora de repasar la materia. 

En cuanto a la entrevista de requisitos, me he dado cuenta de que, pese a 
que nuestras preguntas sí que eran bastante correctas y respondían a 
algunas de las preguntas ("who", "what", "how" y "why"), pero podría haber
propuesto otras preguntas que diesen lugar a respuestas más completas en 
cuanto a los requisitos.

Más allá de los conceptos aprendidos, este entregable me ha ayudado a ver
una complejidad en las entrevistas de requisitos que no me imaginaba, ya
que no sólo son preguntas al azar o que se "sueltan" según la ocurrencia
del entrevistador, sino que suponen un trabajo previo muy importante de 
parte del entrevistador.
            </pre>
        </div>

		<div>
            <h2>Valoración de la entrevista</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz

En general la entrevista está bastante aceptable, pero cabe tener en cuenta
que no pudimos realizarla presencialmente y hay varios aspectos de las 
entrevistas presenciales que no se pueden lograr al grabarla por separado
como, por ejemplo, el lugar adecuado, que no haya interrupciones, que la 
luminosidad, la comunicación no verbal o la empatía del entrevistador con 
el entrevistado.

Partiendo de esa premisa, la vestimenta creemos que no es la adecuada desde
el punto de vista de una entrevista formal donde los participantes visten 
con traje y corbata, aunque sí que es adecuada en el contexto de una charla
entre el entrevistador y el entrevistado en un contexto algo menos formal.

La postura de ambos (entrevistador y entrevistado) era correcta, teniendo en
cuenta que cada uno teníamos la cámara en un lugar diferente. 

En cuanto a la presentación y despedida del entrevistador y del entrevistado
sí que se ha realizado adecuadamente. Al comienzo de la entrevista no se 
indica explícitamente el objetivo de esta, pero por nuestras propias 
presentaciones se puede entender perfectamente, lo mismo sucede con el 
objetivo de la aplicación.

El guión estaba bien diseñado, con las preguntas bien balanceadas y responde
a cuatro de las seis preguntas clave ("who", "what", "how" y "why"), aunque 
posiblemente se podrían haber realizado preguntas más acertadas. 

Como conclusión podríamos decir que la entrevista esta bastante bien, teniendo
en cuenta lo comentado anteriormente respecto del video.
            
			</pre>
        </div>

		<div>
            <h2>Diagrama de Casos de Uso</h2>
            <img src="/ep02/diagrama.jpg" alt="diagrama de cu">
        </div>

		<div>
            <h2>Especificación del caso de uso "caso"</h2>
            <img src="/ep02/especificacion.jpg" alt="especificacion del cu">
        </div>
	</main>
</Layout>