---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep02">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep02</h1>
        <div>
            <h2>Reflexión sobre el EP1</h2>
            <pre>
    El entregable EP1 me ha servido para varias cosas, fuera de lo que es 
	la entrevista de requisitos, me he dado cuenta de que no sabía hacer
	mapas conceptuales, y he visto la importancia de estos para sintetizar
	información útil a la hora de repasar la materia. 
	
	En cuanto a la entrevista de requisitos, me he dado cuenta de que, pese a 
	que nuestras preguntas sí que eran bastante correctas y respondían a 
	algunas de las preguntas ("who", "what", "how" y "why"), pero podría haber
	propuesto otras preguntas que diesen lugar a respuestas más completas en 
	cuanto a los requisitos.

	Más allá de los conceptos aprendidos, este entregable me ha ayudado a ver
	una complejidad en las entrevistas de requisitos que no me imaginaba, ya
	que no sólo son preguntas al azar o que se "sueltan" según la ocurrencia
	del entrevistador, sino que suponen un trabajo previo muy importante de 
	parte del entrevistador.
            </pre>
        </div>
	</main>
</Layout>