---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep03">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep03</h1>
        <div>
            <h2>Reflexión sobre el EP02</h2>
            <pre>
Validación del CU:

En cuanto a la validación del CU cumplía con la mayoría de las
preguntas. Los identificadores del CU y del DCU no coincidían,
ya que en el DCU los llamé "UCxx" y en la especificación del CU 
le llamé "CUxx", la diferencia radica en que en el DCU le puse
las siglas de "Use Case" y no de "Caso de Uso.

Además el alcance no se especificaba adecuadamente, el trigger
no es una acción física, en los pasos y las descripciones indico
el cómo además del qué y en las descripciones de las acciones
se incluía una actividad física. Lo demás estaba bastante correcto.


DCU:
En general el diagrama de casos de uso cumplía con las preguntas
propuestas. Lo realicé en una herramienta CASE adecuada y sus
elementos estaban bien distribuidos.

Principalmente cometí el error de poner muy pocos casos de uso,
ya que muchos de los que veía en el texto me pareció que no se 
tenían que implementar en el sistema, ya que eran acciones físicas.

Además no incluí ningun include ni realicé generalizaciones. Aunque
mi DCU incluía un extend, el sentido era incorrecto.

En conclsión, pese a que muchas preguntas las cumplía, el DCU
presentaba errores muy graves, básicamente por el hecho de que 
faltaban muchos casos de uso.

            </pre>
        </div>
		<div>
            <h2>DCU del caso práctico con dos nuevas funcionalidades.</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz
			</pre>
			<img class="img-ep02" src="/ep03/use_case.png" alt="DCU">
		</div>


		<div>
            <h2>Lista de verificación para el caso práctico</h2>
            <pre>

Lista de verificación de ingeniería de requisitos:

	¿Se han identificado claramente los objetivos del proyecto de desarrollo de la aplicación?
	¿Están definidos todos los tipos de vehículos que el taller admite para reparación?
	¿Se han especificado todos los datos necesarios para registrar un nuevo cliente en el sistema?
	¿Está claro cómo se registra una nueva reparación en el sistema y qué información se necesita para ello?
	¿Se han definido correctamente los estados posibles de un parte de reparación?
	¿Están cubiertas todas las funcionalidades requeridas para la gestión de clientes, vehículos y empleados?
	¿Se han identificado y definido correctamente los distintos tipos de empleados especializados?
	¿Se ha especificado cómo se calcula el importe total de una reparación y se genera la factura correspondiente?
	¿Está definido claramente el alcance de la aplicación, incluyendo sus módulos y funcionalidades?
	¿Se ha considerado la seguridad y privacidad de los datos en el diseño del sistema?
			</pre>
		</div>
		<div>
			<h2>Lista de validación para un CU del caso práctico de teoría</h2>
			<pre>

Validación de un caso de uso específico (Gestionar cliente):

	¿El caso de uso "Gestionar cliente" permite realizar operaciones de alta, modificación y eliminación de clientes de manera adecuada?
	¿Se cumplen todos los requisitos especificados para la gestión de vehículos dentro del caso de uso correspondiente?
	¿El caso de uso "Planificar reparación" permite crear partes de reparación de manera efectiva, considerando la complejidad de la avería?
	¿La asignación de empleados especializados a los partes de reparación se realiza correctamente según la especialidad requerida?
	¿Se puede actualizar el estado de un parte de reparación de acuerdo con las opciones definidas en el sistema?
	¿La generación de facturas al finalizar una reparación se realiza correctamente, incluyendo todos los detalles requeridos?
	¿Se puede distinguir claramente entre las funcionalidades del módulo de Administración y el de Reparación?
	¿La conexión con el sistema de pago externo para los diferentes métodos de pago se realiza de manera fluida y segura?
	¿El sistema de notificación externo funciona correctamente para informar a los clientes sobre el estado de sus reparaciones?
	¿Se ha verificado que el diagrama de casos de uso refleje de manera precisa todas las interacciones entre actores y el sistema?
			</pre>
		</div>
	</main>
</Layout>