---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep04">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep04</h1>
        <div>
            <h2>Reflexión sobre el EP03</h2>
            <pre>
Para realizar el entregable EP03 tuve que qprender desde cero 
cómo funcionan las preguntas de verificación y de validación y
me pareció una técnica muy interesante, ya que es muy simple e 
intuitiva y permite "abrir" la mente para ponerte en situaciones 
posibles que te podrían llevar a un error en el desarrollo 
posteriormente, así como posibles requisitos olvidados en los 
pasos anteriores. Me pareció una buena manera de aplicar el 
famoso pensamiento lateral para facilitar estas tareas que, 
abordadas de manera "aleatoria" sin utilizar un método en 
específico serían mucho más costosas e imperfectas.

En cuanto a los errores, creo que no los cometí a penas. Aunque
quizás me faltaron preguntas para completar más la verificación 
y la validación pero, teniendo en cuenta que el entregable limitaba
el número de preguntas a 10, no es un error en este caso.

Las diferencias entre la verificación y la validación de un Caso 
de Uso radican en que la primera se enfoca en la identificación y 
documentación de los requisitos globales del sistema, mientras 
que la segunda se centra en validar si un caso de uso particular 
cumple con los requisitos propios de ese caso de uso, necesarios 
para el correcto funcionamiento de esa parte del sistema.

En cuando al nuevo DCU que realizamos en parejas para el ep03, 
añadimos el actor "pasarela de pagos" y lo vinculamos al CU04, que
representa la generación de una factura de una reparación. Este 
cambio no supone ningún error grave. También incluimos un actor 
"mail server" que, junto con "cliente", participa en el caso de uso 
CU10 "Notificar vehículo reparado", lo que, al igual que el anterior 
cambio, es correcto.

Respecto al listado de errores imperdonables, no he experimentado
ningún otro que no esté incluido en esa lista y, los que sí que hay, 
los he entendido todos.
            </pre>
        </div>
		<div>
            <h2>Especificación de 2 historias de usuario</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz
			</pre>
			<h3>Historias de Usuario</h3>
			<img class="img2-ep02" src="/ep04/hu.png" alt="hu">
			<h3>Escenarios del HU01</h3>
			<img class="img2-ep02" src="/ep04/escenarios_hu01.png" alt="hu01">
			<h3>Escenarios del HU02</h3>
			<img class="img2-ep02" src="/ep04/escenarios_hu02.png" alt="hu02">
		</div>
		<div>
            <h2>Wireframes de la UI para los HU</h2>
			<img class="img2-ep02" src="/ep04/wireframes.png" alt="wireframes">
		</div>
		<div>
            <h2>Diagrama de Clases</h2>
			<img class="img2-ep02" src="/ep04/diagrama_de_clases.png" alt="DC">
		</div>

	</main>
</Layout>