---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep04">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep04</h1>
        <p> Este entregable todavía no se ha realizado </p>
	</main>
</Layout>