---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep05">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep05</h1>
        <div>
            <h2>Reflexión sobre el EP04</h2>
            <pre>

            </pre>
        </div>
		<div>
            <h2>Diagrama de Clases</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz

Nota: faltan cosas por editar en lo del parte de reparacion pero
el aula remota no funcionaba y sólo pudimos editar algunas cosas
con photoshop, pero no teníamos acceso al catia magic.
			</pre>
			<img class="img2-ep02" src="/ep05/clases.jpg" alt="dc">
		</div>
	</main>
</Layout>