---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep05">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep05</h1>
        <div>
            <h2>Reflexión sobre el EP04</h2>
            <pre>
El entregable 04 consistía principalmente en la realización del 
diagrama de clases. En general el que realicé estanba bastante 
bien, pero difiere bastante del diagrama de clases que se muestra
en el caso práctico de teoría. 

Las principales diferencias entre estos son:
	-En mi diagrama no aparecía representada la herencia de los 
	tipos de vehículos, sino que lo representaba como una relación 
	más.

	-También faltaban la enumeración de la forma de pago y la del 
	tipo de batería de los patinetes.

	-Mi diagrama no especificaba el tipo de ninguno de los atributos.

	-En mi diagrama faltaban atributos del parte de reparación y, 
	además, no tenía la clase detalle del parte de reparación, por 
	lo que el sistema hubiera funcionado de manera completamente
	distinta.

	-Por último, mi diagrama contaba con algunos métodos, pero no 
	especificaba en todas las clases a su constructor.

Aparte de estas diferencias, no hay más errores imperdonables, pero 
sí que he encontrado un error de nivel aprobado en el diagrama de 
clases del caso práctico de teoría, el DC_AP02 "Los actores de una 
DCU tienen su equivalencia en clases", en este diagrama no se cumple
porque el DCU tenía un actor llamado administrativo, el cual no aparece
reflejado en el diagrama de clases (en el mío si que aparece).
            </pre>
        </div>
		<div>
            <h2>Diagrama de Clases</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz

Nota: faltan cosas por editar en lo del parte de reparacion pero
el aula remota no funcionaba y sólo pudimos editar algunas cosas
con photoshop, pero no teníamos acceso al catia magic.
			</pre>
			<img class="img2-ep02" src="/ep05/clases.jpg" alt="dc">
		</div>
		<div>
            <h2>Diagrama de Actividades</h2>
			<img class="img2-ep02" src="/ep05/da.png" alt="dc">
		</div>
	</main>
</Layout>