---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="ep06">
	<Header/>
	<main>
		<h1 class="text-gradient">Ep06</h1>
        <div>
            <h2>Reflexión sobre el EP05</h2>
            <pre>
El entregable 5 consistía principalmente en la ampliación del 
diagrama de clases en parejas y la realización del diagrama de 
actividades individualmente. El primero nos quedó bastante 
completo y correcto, pese a que algún cambio no pudimos reflejarlo
porque el aula remota no funcionaba correctamente y no teníamos 
acceso al catia magic. 

En cuanto al segundo apartado del entregable (El diagrama de 
actividades) no cumple con ninguno de los requisitos de los 
diagramas de este tipo, ya que no comprendí cómo debía realizarlo 
e hice algo similar a un diagrama de flujo más que al de actividades.
Por tanto, cumple con todos los errores imperdonables (no hay nodos
de decisión, no tiene ni inicio ni fin definidos, faltan verbos de 
acción en los nombres de las acciones, etc).

La reflexión se podría resumir en "no se ha comprendido el funcionamiento
ni la estructura del diagrama de actividades, lo demás está bien".
            </pre>
        </div>

		<div>
            <h2>Diagrama de Clases</h2>
            <pre>
Nombres de la pareja:
	-Adrián Viciano
	-Miguel Ruiz
			</pre>
			<img class="img2-ep02" src="/ep06/actividades.png" alt="dc">
		</div>

		<div>
            <h2>Diagrama de Secuencia</h2>
			<img class="img2-ep02" src="/ep06/diagrama_de_secuencia.png" alt="dc">
		</div>
	</main>
</Layout>