---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import '../../styles/GlobalStyles.css'

---

<Layout title="Industry Talk">
	<Header/>
	<main>
		<h1 class="text-gradient">Industry Talk</h1>
        <div>
            <h2>Reflexión sobre la charla</h2>
            <pre>
La charla de este año me ha servido para aprender cómo se aplican 
realmente los conceptos que aprendemos en esta asignatura sobre los 
requisitos en una empresa real.

Principalmente me he quedado con varios de los típicos que cuando 
te los comentan te parecen obvios pero que en la práctica se suelen 
pasar de largo porque preferimos ir lo antes posible a la implementación 
del sistema. Me han calado estos conceptos más que otros porque son 
errores que he cometido previamente en proyectos más pequeños y que han 
supuesto muchos quebraderos de cabeza a la hora de solucionarlos, así 
que no me quiero imaginar cómo se debe vivir a gran escala.

Estos son:

		- Previamente a la implementación hay que tener en cuenta cómo 
		funcionará todo, (estructura del sistema, importación y exportación 
		de datos, etc) ya que el coste de cambiar alguna de las partes del 
		sistema es muy alto. 

		- A la hora de realizar los requisitos no siempre hay que pensar a 
		largo plazo, ya que se tiende a apuntar más lejos de lo que va a 
		ir el propio sistema y esto se traduce en más costes y problemas. 
		Hay que ser realista a la hora de definir el alcance del sistema.

		- Una toma de requisitos prácticamente nunca será perfecta, casi 
		siempre hay que realizar algún cambio y hacer más reuniones para 
		tratar de recuperar requisitos "perdidos" en reuniones anteriores.
		La escucha activa es muy importante para minimizar las pérdidas de 
		información en estas entrevistas.

		- Es importante documentar todos los requisitos previamente a la 
		implementación y mostrarselos al cliente para que después no pueda 
		reprocharte por cosas que no se habían definido previamente.

		- Han fracasado numerosos buenos desarrollos por malas importaciones 
		o malas puestas en producción, esto destaca la importancia de los 
		requisitos previos a la implementación.


Finalmente cabe decir que, más allá de los aspectos técnicos que
se hayan podido explicar sobre los requisitos, la charla se me ha
hecho muy amena e interesante y ha mostrado algun concepto que 
aparentemente parece lógico pero que nunca me había siquiera planteado 
y que te pueden ahorrar muchos dolores de cabeza a la larga como, 
por ejemplo, el de documentar todo lo que se va a hacer y que sea 
firmado por el cliente.
            </pre>
        </div>
	</main>
</Layout>