<footer>
    <p>© 2024 - Adrián Viciano's Portfolio</p>
    <ul>
      <li>
        <img src="/public/phone.png" />
        <p>601289004</p>
      </li>
      <li>
        <img src="/public/email.png" />
        <p>adriviciano@gmail.com</p>
      </li>
      <li>
        <img src="/public/web.png" />
        <a href="https://www.adriviciano.com">adriviciano.com</a>
      </li>
    </ul>
  </footer>