---
import '../styles/GlobalStyles.css'
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/entregables/ep01">Ep01</a>
    <a href="/entregables/ep02">Ep02</a>
    <a href="/entregables/ep03">Ep03</a>
    <a href="/entregables/ep04">Ep04</a>

</div>

