@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --color-bg-light: #f0f0ff;
  --color-bg-medium-light: #dcd6f7;
  --color-primary-light: #a6b1e1;
  --color-primary: #424874;
  --color-secondary-light: #d6e0f0;
  --color-secondary: #9a8c98;
  --color-accent: #c3aed6;
  --color-text-dark: #333;
}

body {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
}

main {
  min-height: 58vh;
  padding: 2em;
}

header {
  background-color: var(--color-bg-light);
  color: var(--color-primary);
  padding: 1em 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  width: 100%;
  height: auto;
  font-size: 300%;
}

header a {
  text-decoration: none;
}


footer {
  text-align: center;
  background-color: var(--color-primary-light);
  padding: 1em 0;
  color: var(--color-text-dark);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15vh;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--color-text-dark);
}

footer ul li {
  width: auto;
  height: 30px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: var(--color-text-dark);
  font-style: normal;
  text-decoration: none;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

h1 {
  color: var(--color-primary);
}

ul {
  list-style-type: none;
}

ul li {
  background: var(--color-primary-light);
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
