---
import "../styles.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AboutSection from '../components/About.astro';
import ProjectsSection from '../components/Projects.astro';
import SkillsSection from '../components/Skills.astro';
import HomeSection from '../components/Home.astro';
---
<head>
  <title>My Portfolio</title>
  <meta charset="utf-8">
  <meta name="description" content="My portfolio website" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<Header />

<main>
  <HomeSection />
  <AboutSection />
  <ProjectsSection />
  <SkillsSection />
</main>

<Footer />
